 
    /* Header styling */
header {
	background-color: #02b811;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    
}

.logo h1 {
	margin: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	list-style: none;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.toggle-nav {
	font-size: 24px;
	color: #fff;
	display: none;
	margin-left: auto;
}

.menu {
	display: flex;
}

.menu li {
	margin: 0 10px;
}

/* Responsive media queries */
@media only screen and (max-width: 768px) {
	.toggle-nav {
		display: block;
	}
	
	.menu {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	
	.menu li {
		margin: 10px 0;
	}
	
	.menu li:first-child {
		margin-top: 0;
	}
	
	.menu li:last-child {
		margin-bottom: 0;
	}
	
	.menu li a {
		display: block;
		padding: 10px;
		background-color: #444;
		color: #fff;
	}
	
	.menu li a:hover {
		background-color: #555;
	}
	
	.menu.active {
		display: flex;
	}
}


nav li {
	list-style: none;
	margin: 0 10px;
	border-right: 1px solid #fff;
	padding-right: 10px;
}

nav li:last-child {
	border-right: none;
	padding-right: 0;
}


footer {
    background-color: #02b811;
    color: #fff;
    padding: 10px;
    position: relative;
	z-index: 1;
    position: fixed;
    bottom: 0;
    width: 98%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-info {
    margin-right: 20px;
  }

  .contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contact-list li {
    margin: 5px 0;
  }

  .card img {
    height: 300px; /* set the height of the image in every pages */
    width: 50%; /* set the width of the image to 100% of its container */
    object-fit: cover; /* ensure the image fills its container without distorting */
  }

  .menu li:hover a {
    color: rgb(156, 241, 19);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .modal img {
    width: 100%;
  }
  
/* side bar--------------------------------------------- */
.sidebar-menu {
	list-style-type: none;
  }

  .container {
    margin: 0 0 0 25%;
}
aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    background-color: #dad3d3;
     
}



 
header {
	position: relative;
	z-index: 1;
}

 


    